atlassian-ide-plugin.xml
simplesamlphp.log
.idea/
.DS_Store
local.json
local.php
*.local.php
nbproject/
phpinfo.php
*.rpm
.vagrant/
bcfg2/
*.crt
*.csr
*.key
composer.phar
application/simplesamlphp/config/authsources.php
application/simplesamlphp/config/config.php
application/simplesamlphp/metadata/saml20-idp-remote.php
