{
  "hosts_file": {
      "custom_entries": {
          "": ""
      }
  },
  "deploy": {
    "addressbook": {
      "simplesamlphp": {
        "crt": "",
        "pem": "",
        "authsources": {
            "idp": ""
        },
        "metadata": {
            "idp": "insite.dev.iidp.net",
            "SingleSignOnService": "",
            "SingleLogoutService": "",
            "certData": "",
            "orgName": "",
            "orgUrl": ""
        }
      },
      "config_files": {
          "local": {
              "content": {
                 "params": {
                     "apiBaseUrl": "",
                     "apiKey": "",
                     "apiSecret": "",
                     "google_analytics": {
                         "enabled": true,
                         "tracking_id": "UA-########-#"
                     }
                 }
             }
          }
      }
    }
  }
}