API_BASE_URL=
API_KEY=
API_SECRET=

ASSERTION_ENCRYPTION=
EXPAND_S3_FILES=
EXPAND_S3_KEY=
EXPAND_S3_SECRET=

GA_ENABLED=
GA_TRACKING_ID=
SAML_IDP=https://openidp.feide.no
SAML_ADMIN_PASSWORD=
SAML_ENTITY_ID=
SAML_SECRET_SALT=
SAML_CONTACT_NAME=Admin
SAML_CONTACT_EMAIL=admin@email.com
SAML_SSO_URL=https://openidp.feide.no/simplesaml/saml2/idp/SSOService.php
SAML_SLO_URL=https://openidp.feide.no/simplesaml/saml2/idp/SingleLogoutService.php
SAML_CERT_FINGERPRINT=c9ed4dfb07caf13fc21e0fec1572047eb8a7a4cb
SAML_ORG_NAME=
SAML_ORG_URL=

WARNING_HTML=
